<div class="section mb-2" >
  <strong>Select Student : </strong>
	<select [(ngModel)]="selectedOption"  (click)=changeStudent()>
    
      <option *ngFor="let item of newStudent;let i = index"   [selected]="i == 0">
        {{item.name}}
        
      </option>
      
    </select>
</div>


<div >
    <nav class="row bg-dark"  >
        <a class="m-2 p-2 text-white" routerLink="/std-names/{{selectedOption}}/english">English</a>
   <a class="m-2 p-2 text-white" routerLink="/std-names/{{selectedOption}}/std-maths">Maths</a>
   <!-- [routerLink]="['/std-maths/'+ item.id] -->
        <!-- <a class="m-2 p-2 text-white" routerLink="/english/">English</a> -->
        <a class="m-2 p-2 text-white" routerLink="/std-names/{{selectedOption}}/hindi">Hindi</a> 
        <a class="m-2 p-2 text-white" routerLink="/std-names/{{selectedOption}}/science">Science</a> 
        <a class="m-2 p-2 text-white" routerLink="/std-names/{{selectedOption}}/computer">Computer</a> 
     
    </nav>
</div>